/* header */

header{
    background-image: url(../img/companylogoBG.jpg);
    background-position: 50% 50%;
    background-size: cover;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    max-height: 100px;
    margin: auto;
}

h1{
    position: relative;
    margin: auto;
    color: #FFFFFF;
    font-size: 2.8em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2{
    position: relative;
    margin: auto;
    color: #FFFFFF;
    font-size: 3.2em;
    margin-top: -5px;
    
}

.navigation{
    background-color: #808080;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

.navigation a {
    float: initial;
    font-size: 1em;
    color: #FFFFFF;
    display: inline;
    padding: 14px 16px;
    text-decoration: none;
}
/* body */

body{
    background-image: url(../img/background.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif
}

#video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

section{
    background-color: #2699FB;
    background-size: cover;
    width: 640px;
    text-align: center;
    margin: auto;
}

.rectangle {
    background-color: #FFFFFF;
    display: block;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#product1 {
    background-image: url(../img/product1.jpg);
    position: relative;
    margin-left: 3%;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product2 {
    background-image: url(../img/product2.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product3 {
    background-image: url(../img/product3.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product4 {
    background-image: url(../img/product4.jpg);
    position: relative;
    margin-left: 3%;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product5 {
    background-image: url(../img/product5.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product6 {
    background-image: url(../img/product6.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product7 {
    background-image: url(../img/product7.jpg);
    position: relative;
    margin-left: 3%;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product8 {
    background-image: url(../img/product8.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product9 {
    background-image: url(../img/product9.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product10 {
    background-image: url(../img/product10.jpg);
    position: relative;
    margin-left: 3%;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product11 {
    background-image: url(../img/product11.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

#product12 {
    background-image: url(../img/product12.jpg);
    position: relative;
    margin-left: auto;
    background-size: cover;
    max-width: 100%;
    background-position: 50% 50%;
    height: 130px;
    width: 180px;
    object-fit: cover;
    padding: 3px;
}

footer {
    max-width: 640px;
    margin: auto;
    background-color: #000000;
    text-align: center;
    display: block;
    padding-top: 1px;
    padding-bottom: 20px;
}

p {
    color: #FFFFFF;
    font: bold;
    font-size: 1em;
    margin-bottom: -5px;
}

form {
    background-color: #FFFAFA;
    max-width: 600px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

fieldset
{
	border:none;
}
input[type="text"]
{
	max-width:100%;
	width:100%;
    margin: auto;
	
}
input[type="email"]
{
	max-width:100%;
	width:100%;
    margin: auto;
}
input[type="submit"]
{
	width:95%;
	max-width:100%;
	padding: 10px;
	background-color:#2699FB;
	color: #FFFFFF;
	font: bold;
	font-size: 1em;
	margin-left:15px;
	margin-bottom:20px;
}

textarea
{
	max-width:100%;
	width:100%;
	margin: auto;	
}
label
{
	color: #AAAAAA;
}